h1{
    background-color: blueviolet;
    color: white;
    text-align: center;
}

ul{
    background-color: blue;
}

a{
    color: white;
    text-decoration: none;
}

a:visited{
    color: lightblue;
}